.button {
  font-size: 40px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
  height:400px;
  top:50%;
  left:50%;
}

.vertical-center {
  /*min-height: 100%;   */
/*  min-height: 100vh; */
/*
  display: flex;
  align-items: center; */
}
.button:hover {background-color: #3e8e41}

.button:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

* {
  font-family: "Rye", cursive;
  text-align: center;
  color: #633B2E;
}

.get-on-moose {
  background-image: url("scroll.png");
  background-size: 350px auto;
  background-position: center;
  height: 150px;
  background-repeat: no-repeat

}


#get-on-moose {
  margin-top: 30px;
  height: 50px;

}


.get-on-moose-btn {
  border: solid;
  border-radius: 15px;
/*  display:none;*/
}
